body {
  font-size: 90%;
  color: #444;
}
header {
  border-bottom: 1px solid #AAA;
}
header > div {
  font-size: 90%;
  margin: 0 auto;
  width: 800px;
  padding: 18px 20px;
}
#content > div {
  display: flex;
  margin: 0 auto;
  width: 800px;
  padding: 40px 20px;
}
footer {
  border-top: 1px solid #AAA;
}
footer > div {
  margin: 0 auto;
  width: 800px;
  padding: 15px 20px;
}
h1 {
  font-size: 200%;
}
input, button {
  border: 1px solid #BBB;
  padding: 8px 8px 6px 8px;
  border-radius: 4px;
}
button {
  padding: 8px 11px 6px 11px;
}
button:hover {
  background-color: #EEE;
}
button:active {
  background-color: #DDD;
}
